.carousel-container {
  width: 90%;
  margin-bottom: 3.29rem;
}

.blogs {
  display: flex;
  justify-content: center;
  margin-bottom: 6.64rem;
}

.center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}
