.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../images/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  width: 30%;
  height: 12rem;
  border-radius: 10px;
}

.blog-item p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.blog-item h2 {
  font-size: 18px;
  font-weight: 700;
}
