.profile-card {
  display: flex;
  padding: 14px;
  width: 181.99px;
  box-shadow: 0px 9px 21px rgb(70 167 183 / 6%);
  background: white;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.profile-card__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

.profile-card__container .image {
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 1.24rem;
  width: 100%;
  height: 5.88rem;
  padding: 3.75rem 0 30px 0.31rem;
}

.profile-card__container .text-icon__container {
  display: flex;
  margin-bottom: 0.42rem;
}

.profile-card__container .text-icon__container .text {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 15px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
}

.profile-card__container .text-icon__container .icon {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card__container .wrapper {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-card__container .wrapper .address {
  width: 100%;
  margin-bottom: 0.63rem;
  /* height: 37px; */
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 37px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.profile-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card__bottom .icon {
  margin-left: 0.94rem;
}
