.doctor-profile {
  display: flex;
  justify-content: center;
  width: 31%;
  box-shadow: 0px 9px 21px rgba(70, 167, 183, 0.06);
}

.doctor-profile__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
}

.doctor-profile__container .image {
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 1.24rem;
  width: 100%;
  height: 5.88rem;
  position: relative;
}

.doctor-profile__container .image .icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.doctor-profile__container .text {
  margin-bottom: 0.42rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 15px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wrapper {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address {
  width: 100%;
  margin-bottom: 0.63rem;
  /* height: 37px; */
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 37px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.doctor-profile__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor-profile__bottom .icon {
  margin-left: 0.94rem;
}
