.specialty-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 11.31rem;
  height: 11.31rem;
  background-color: #fff;
  border-radius: 12px;
  margin-right: 1.44rem;
}

.specialty-item img {
  width: 5.19rem;
  height: 5.19rem;
}

.specialty-item h3 {
  font-size: 1rem;
  font-weight: 700;
}
