.header {
  width: 100%;
}

.header-bottom {
  width: 100%;
  background-image: url("../../assets/images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12.94rem 0 16.25rem 0;
}

.header-bottom .text-container {
  width: 41.69rem;
  margin-left: 3.5rem;
}
