.user-input {
  flex: 2;
  padding: 1.25rem 3.06rem 1.31rem 1.19rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #e5e5e5;
}

.user-input input {
  width: 90%;
  margin-left: 5px;
  border: none;
  outline-width: 0;
  color: rgba(0, 0, 0, 0.6);
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 15px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
}
