.App {
  margin: 20px;
}

.container {
  display: flex;
}

.doctors {
  display: flex;
  justify-content: space-between;
}

.carousel .control-dots .dot {
  background: #c4c4c4;
}

.carousel .control-dots .dot.selected {
  background: #f87537;
}
