.App {
  margin: 20px;
}

.ui-button {
  background: #00778a;
  margin-top: 10px;
}

.container {
  display: flex;
}

.carousel .control-dots .dot {
  background: #c4c4c4;
}

.carousel .control-dots .dot.selected {
  background: #f87537;
}
