:root {
  --xxxl: 2.88rem;
  --xxl: 2rem;
  --xl: 1.13rem;
  --l: 0.88rem;
  --m: 0.75rem;
  --s: 0.56rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.underline {
  color: #000;
  border: none;
  border-bottom: 3px solid rgba(255, 125, 25, 0.4);
  background: transparent;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
